Django>=4.2
djangorestframework
Pillow
gunicorn
pymysql
mysqlclient
python-dotenv
firebase-admin
django-cors-headers
python-decouple
feedparser
qrcode[pil]
beautifulsoup4
djangorestframework-simplejwt
boto3>=1.28
django-storages>=1.14